body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'roboto';
}

.sign-up-button {
    color: white;
    background-color: #3882F6;
    border-radius: 2px;
    width: 80px;
    text-align: center;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 80px;
}

.top .header {
    display: flex;
    color: #E5E7EB;
    height: 50px;
    align-items: center;
    gap: 16px;
    margin: 0 50px 50px 50px;
}

.top .header .header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.top .header .header-link-1 {
    margin-left: auto;
}

.top .top-content {
    display: flex;
    margin: 0 50px 50px 50px;
}

.top-content .top-content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 18px;
}

.top-content .top-content-left .title {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    line-height: .75;
}

.top-content .top-content-left .text {
    font-size: 18px;
    color: #F9FAF8;
    margin: 5px 0 0 0;
}

.top-content .top-content-left div{
    margin-top: 10px;
}

.top-content .top-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50%;

}

.top-content .top-content-right img {
    margin-left: auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.top-mid {
    flex: 1;
    background-color: white;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.top-mid .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px 0;


}

.top-mid .content .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: #808080;
    max-width: 110px;
    margin-bottom: 10px;
}

.top-mid .content .info img{
    border: 4px solid #3882f6;
    border-radius: 10px;
    max-width: 110px;
}


.bottom-mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 0 50px;
    gap: 0;
    
}

.bottom-mid .quote-text {
    font-size: 36px;
    color: #2c3a4e;
    font-style: italic;
    font-weight: 100;
    margin: 50px 50px 0 50px;
}

.bottom-mid .quote {
    font-weight: 700;
    margin: 0 50px 50px auto;

}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 100 px;
    margin: 0;
    padding: 0;
}

.bottom .modal {
    margin: 0;
    display: flex;
    height: 100px;
    margin: 50px;
    border-radius: 10px;
}

.bottom .modal .modal-left {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #3882F6;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 16px;
    flex-wrap: wrap;

}

.bottom .modal .modal-left .title {
    color: white;
    font-weight: 700;
}

.bottom .modal .modal-left .text {
    color: white;
}

.bottom .modal .modal-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #3882F6;
}

.bottom .modal .modal-right .sign-up-button {
    flex: 1;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    max-width: 80px;
    margin: auto;
}

.footer {
    color: lightgrey;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #1F2937;
}